:root {
    --base-color: 194;
    --bg-color: #121214;
    --bg-primary-color-light: hsla(var(--base-color), 100%, 63%, 0.13);
    --primary-color: hsl(var(--base-color), 100%, 63%);
    --text-color: #FFF;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: grid;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

main {
    align-self: end;
    justify-self: center;
}

#timer {
    display: flex;
    font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
    margin-bottom: 1.6rem;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button svg {
    width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

.hide {
    display: none;
}

.play svg path, .pause svg path, .sound-on svg path {
    fill: var(--primary-color);
}

#controls {
    align-items: center;
    background-color: var(--bg-primary-color-light);
    border-radius: 9999px;
    display: flex;
    gap: 3.2rem;
    height: clam(8rem, 5rem + 10vh, 10.8rem);
    justify-content: center;
    width: clamp(10rem, 10rem + 30vw, 22.8rem);
}

footer {
    align-self: end;
    justify-self: end;
    padding: 0 4rem 3.2rem 0;
}